* {
}

:root {
  --main-font: 'Philosopher', sans-serif;
  --question-font: 'Poiret One', sans-serif;
}
body {
  background-image: linear-gradient(to right, purple, pink);
}
h1,
p {
  text-align: center;
}
h1 {
  font-family: var(--main-font);
  font-size: 40px;
}

p {
  font-size: 30px;
  font-family: var(--question-font);
  font-weight: bold;
}
.viewHighScores {
  font-family: 'Philosopher', sans-serif;
}
.time {
  text-align: center;
  font-family: var(--main-font);
}

.card {
  background-color: purple;
  display: flex;
  flex-direction: column;
}

/* Start Quiz button -----------------*/
button {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  align-self: center;
  font-size: 15px;
  font-family: var(--main-font);
}
button:hover {
  background-color: blueviolet;
}
