:root {
  --main-font: 'Philosopher', sans-serif;
  --question-font: 'Poiret One', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to right, purple, pink);
}
h1,
p {
  text-align: center;
}
h1 {
  font-family: var(--main-font);
  font-size: 40px;
  padding-bottom: 10px;
}

p {
  font-size: 30px;
  font-family: var(--question-font);
  font-weight: bold;
  line-height: 1.4;
}

.viewHighScores,
.score,
#correct-wrong {
  font-family: 'Philosopher', sans-serif;
}
#correct-wrong {
  text-align: center;
  font-size: 30px;
}
.time {
  text-align: center;
  font-family: var(--main-font);
}

.card {
  background-color: purple;
  display: flex;
  flex-direction: column;
}

/* Start Quiz button -----------------*/
button {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  align-self: center;
  font-size: 15px;
  font-family: var(--main-font);
  margin-top: 50px;
  margin-bottom: 20px;
}
button:hover {
  background-color: blueviolet;
}
/* btn container for buttons */
#btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.answer {
  margin-top: 0px;
}

.json-btn {
  height: 55px;
  width: 110px;
}
